*

!.bashwork
!.setupTmux.sh
!.bashp
!.bash.ubuntu
!.script

!.ssh/*
!.script/*


# track vim confituration file
!.vimrc
!.tmux.conf
!.screenrc

# firefox plugin
!.vimperatorrc

#gedit plugin
!.local/share/gedit/plugins/restoretabs.plugin
!.local/share/gedit/plugins/restoretabs.py

#git files
!.gitignore
!README.md

